<?xml version="1.0" encoding="UTF-8"?>
<!-- ~ Copyright (c) 2009-2014. 上海诺诺镑客 All rights reserved. ~ @(#) logback.xml
	2014-10-27 16:42 -->
<configuration scan="true" scanPeriod="10 second" >

	<property name="logPath" value="/JAVA_Files"/>
	<property name="system" value="web-mock"/>
	<property name="level" value="INFO"/>

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>


	<!-- 异常错误日志文件配置 -->
	<appender name="errorLog"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logPath}/${system}/log/${system}_error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logPath}/${system}/log/${system}_error.%d{yyyy-MM-dd}.%i.log.zip
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>200MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>15</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date|%thread|%5level|%logger{50}|%L|%msg%n</pattern>
		</encoder>
	</appender>

	<!-- 业务系统日志文件配置 -->
	<appender name="bizLog"
			  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logPath}/${system}/log/${system}_biz.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logPath}/${system}/log/${system}_biz.%d{yyyy-MM-dd}.%i.log.zip
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>200MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>15</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date|%thread|%5level|%logger{50}|%L|%msg%n</pattern>
		</encoder>
	</appender>




	<!-- 默认日志,凡是没有指定的日志全部输出到frameworkLog中，业务日志一般会直接写到bizlog中，而没有配置的基本都是框架级日志 -->
	<root level="${level}">
		<appender-ref ref="bizLog" />
	</root>

</configuration>